<header class="site-header">
  <div class="header-top">
    <span class="logo">CSE Motors</span>
    <a href="/account" class="account-link">My Account</a>
  </div>

  <nav class="main-nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/inventory/custom">Custom</a></li>
      <li><a href="/inventory/sedan">Sedan</a></li>
      <li><a href="/inventory/suv">SUV</a></li>
      <li><a href="/inventory/truck">Truck</a></li>
    </ul>
  </nav>
</header>
