<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<div class="management-container">
  <h2>Inventory Management</h2>
  
  <div class="management-links">
    <a href="/inv/add-classification" class="management-btn">
      Add New Classification
    </a>
    
    <a href="/inv/add-inventory" class="management-btn">
      Add New Vehicle
    </a>
  </div>
</div>